/* .right {
  display: flex;
  flex-direction: row;
  align-items: end;
  background-color: #1A1A1A;
  color: #FFFFFF;
  margin: 4px;
  margin-left: 10px;
  margin-right: auto;
  text-align: left;
  padding: 5px;
  border-radius: 10px;
  align-self: flex-end;
  z-index: 0;
  overflow-wrap: break-word;
}

.left {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  min-height: 36px;
  background-color: #817CFF;
  color: #1A1A1A;
  margin: 4px;
  margin-right: 10px;
  margin-left: auto;
  text-align: right;
  padding: 5px;
  border-radius: 10px;
  align-self: flex-start;
  z-index: 0;
  overflow-wrap: break-word;
} */

.state {
  display: flex;
}

.content {
  display: flex;
}

.date {
  display: flex;
  margin-left: 8px;
  opacity: 50%;
}