.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 10px 10px 0;
}

.wrap_avatar_name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fullName{
  margin: 16px;
}

.btn{
  margin: 10px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
}