.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.scroll{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollList{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}

.list{
  /* box-sizing: border-box; */
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  max-height: 84vh;
  display: flex;
  flex-direction: column;
  background-color: #1F1F1F;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 26px 26px 0px 0px;
  border-top: 1.5px solid #817CFF; 
  border-radius: 26px 26px 0px 0px; 
}

.inputWrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 44px;
  margin: 14px;
  background: #262626;
  border-radius: 26px;
}

.send{
  border-style: solid;
  background-color: #262626;
  padding: 3px;
  margin-top: 1px;
  border-radius: 50%;
  border: 1px solid #817CFF
}

.sendField{
  display: flex;
  flex-direction: row;
  background-color: #1F1F1F;
	left: 0;
	bottom: 0;
	width: 100%;
}

.input:focus {
  outline: none;
}

.btn{
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
}

.input {
  height: 20px;
  border: none;
  color: #FFFFFF;
  background: #262626;
  font-family: 'AvantGardeGothicCTT';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  display: flex;
}

.right{
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  align-items: center;
  background-color: #1A1A1A;
  color: #FFFFFF;
  max-width: 85%;
  margin: 4px;
  margin-left: 10px;
  margin-right: auto;
  text-align: left;
  padding: 8px;
  border-radius: 10px;
  align-self: flex-end;
  z-index: 0;
  word-break: break-all;
  height: auto;
}

.right_not_visible{
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  align-items: center;
  background-color: #1a1a1a00;
  color: #ffffff00;
  max-width: 85%;
  margin: 4px;
  margin-left: 10px;
  margin-right: auto;
  text-align: left;
  padding: 8px;
  border-radius: 10px;
  align-self: flex-end;
  z-index: 0;
  word-break: break-all;
  height: auto;
}

.left{
  display: flex;
  flex-direction: row;
  box-sizing: content-box ;
  align-items: center;
  background-color: #817CFF;
  color: #000000;
  max-width: 85%;
  margin: 4px;
  margin-right: 10px;
  margin-left: auto;
  text-align: right;
  padding: 8px;
  border-radius: 10px;
  align-self: flex-start;
  z-index: 0;
  word-break: break-all;
  height: auto;
}

.left_not_visible{
  display: flex;
  flex-direction: row;
  box-sizing: content-box ;
  align-items: center;
  background-color: #807cff00;
  color: #00000000;
  max-width: 85%;
  margin: 4px;
  margin-right: 10px;
  margin-left: auto;
  text-align: right;
  padding: 8px;
  border-radius: 10px;
  align-self: flex-start;
  z-index: 0;
  word-break: break-all;
  height: auto;
}

.date{
  display: flex;
  font-display: row;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  word-break:normal;
  color:#ffffffb6;
}

.line{
  display: block;
  margin: 8px;
  border: 0.1px solid #807cff95;
  width : 100%;
  height: 1px;
};

.value{
  align-self: center;
  width: auto;
}; 

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.899); /* Прозрачный фон */
  z-index: 9999; /* Повышаем z-index, чтобы прелоадер отображался поверх списка сообщений */
}