.footer_icon {
  color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  border: none;
  background-color: transparent;
  line-height: 1.2;
}

.footer_icon:hover {
  opacity: 0.8; 
}

.footer_icon img {
  display: block; 
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-top: 1.5px solid #817CFF; 
  background-color: rgb(37, 36, 35);
  border-radius: 26px 26px 0px 0px;
  position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}