.header{
  background: #1A1A1A;
  color: #817CFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position:fixed;
	width: 100%;
}

.header_icon{
margin-right: 21px;
}

.option_btn {
  border: none;
  background-color: #ffffff00;
  color: #817CFF;
  margin: 5px;
}