.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 40px 16px 16px 16px;
  background-color: rgb(26,26,26);
  margin-top: 104px;
  max-height: 100%;
}

.form{
  margin-top: 32px;
  width: 100%;
}

.or{
  margin: 65px;
}

.btn{
  color: #FFFFFF;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  text-align: center;
  font-family: 'Lack';
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
}