.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px;
  background-color: #1C1C1C;
}

.basic {
  border-top: 1.5px solid #817CFF;
  border-radius: 26px 26px 0px 0px;
  padding-top: 10px;
  background-color: #1F1F1F;
  height: 100vh;
}

.hiden{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option_btn {
  border: none;
  background-color: #37363500;
  color:#817CFF;
  margin: 5px;
}


.field_wrapper {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background-color: rgba(37, 36, 35, 0);
}

.field_value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.field_icon {
  margin-right: 10px; /* отступ между Image и текстом */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 285px;
  margin-bottom: 436px;
}

.logo,
.thirteen {
  position: relative;
}